name: test

on: pull_request

jobs:
  test:
    name: test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run go-mod-tidy-pr
        uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          git_user_name: GitHub Actions
          git_user_email: github-actions@example.cpm
          reviewer: sue445
          assign: sue445
          labels: go mod tidy
          go_mod_directory: dummy
          debug: "true"

      - name: Slack Notification
        uses: homoluctus/slatify@master
        if: always()
        with:
          job_name: "*test*"
          type: ${{ job.status }}
          icon_emoji: ":octocat:"
          url: ${{ secrets.SLACK_WEBHOOK }}
          token: ${{ secrets.GITHUB_TOKEN }}
